.details__image-container {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.details__image-container::after {
  bottom: 0px;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent, var(--foreground));
}

.details__image-container img {
  width: 100%;
}

.details__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3x-small);
  margin-top: 18vh;
  transition: margin-top 0.3s ease-in-out;
}

.details__content {
  gap: var(--spacing-large);
}

@media (min-width: 768px) {
  .details__container {
    padding-top: 0px;
    margin-top: 25vh;
  }
}

@media (min-width: 1024px) {
  .details__container {
    padding-top: 0px;
    margin-top: 35vh;
  }
}
