.text {
  margin: 0;
  font-family: SkyRegular;
}

.text__inverse {
  color: var(--text-secondary);
}

.body-large {
  font-size: 20px;
  line-height: 36px;
}

.body-fluid {
  font-size: 14px;
  line-height: 18px;
}

.body {
  font-size: 18px;
  line-height: 24px;
}

.body-small {
  font-size: 16px;
  line-height: 20px;
}

.small-text {
  font-size: 14px;
  line-height: 18px;
}

.x-small-text {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .body-large {
    font-size: 24px;
    line-height: 32px;
  }
  .body-fluid {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .body-large {
    font-size: 26px;
    line-height: 34px;
  }
  .body-fluid {
    font-size: 18px;
    line-height: 24px;
  }
}
