.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3x-small);
  padding: var(--spacing-2x-small) var(--spacing-x-small);
  font-weight: bold;
  border: none;
  border-radius: var(--radius-3x-small);
  cursor: pointer;
  background-color: var(--product-blue-700);
  transition: background-color 0.2s ease, transform 0.1s ease;

  &:focus,
  &:hover,
  &:focus-visible,
  &:focus-within {
    background-color: var(--product-blue-800);
  }

  &:active {
    transform: scale(0.98);
  }
}

.button-secondary {
  background-color: var(--product-neutral-00);
  color: var(--product-blue-700);

  &:hover,
  &:focus {
    background-color: var(--product-neutral-00);
    color: var(--product-blue-800);
  }
}
