.heading {
  margin: 0;
}

.large-display {
  font-size: 48px;
  line-height: 62px;
}

.display {
  font-size: 34px;
  line-height: 44px;
}

.page-title {
  font-size: 28px;
  line-height: 36px;
}

.section-title {
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .large-display {
    font-size: 64px;
    line-height: 82px;
  }
  .display {
    font-size: 48px;
    line-height: 62px;
  }
  .page-title {
    font-size: 42px;
    line-height: 54px;
  }
  .section-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .large-display {
    font-size: 80px;
    line-height: 104px;
  }
  .display {
    font-size: 64px;
    line-height: 84px;
  }
  .page-title {
    font-size: 52px;
    line-height: 68px;
  }
  .section-title {
    font-size: 38px;
    line-height: 50px;
  }
}
