.layout {
  display: flex;
  flex-direction: column;
}

.layout__content {
  max-width: var(--container-max-width-small);
  padding: var(--grid-margin-small);
  top: var(--mobile-header-height);
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .layout__content {
    top: var(--desktop-header-height);
  }
}

@media (min-width: 1024px) {
  .layout__content {
    max-width: var(--container-max-width-medium);
    padding: var(--grid-margin-medium);
  }
}

@media (min-width: 1440px) {
  .layout__content {
    max-width: var(--container-max-width-large);
    padding: var(--grid-margin-large);
  }
}

@media (min-width: 1920px) {
  .layout__content {
    max-width: var(--container-max-width-x-large);
    padding: var(--grid-margin-x-large);
  }
}

.layout__content--full-width {
  top: 0px;
  padding: 0px;
  max-width: 100vw;
}
