.layout {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.layout__content {
  max-width: var(--container-max-width-small);
  padding: var(--grid-margin-small);
  padding-top: calc(var(--mobile-header-height) + var(--grid-margin-small));
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: auto;
  min-height: calc(100svh - var(--mobile-header-height));
}

@media (min-width: 768px) {
  .layout__content {
    padding-top: calc(var(--desktop-header-height) + var(--grid-margin-small));
    min-height: calc(100svh - var(--desktop-header-height));
  }
}

@media (min-width: 1024px) {
  .layout__content {
    max-width: var(--container-max-width-medium);
    padding: var(--grid-margin-medium);
    padding-top: calc(var(--desktop-header-height) + var(--grid-margin-small));
  }
}

@media (min-width: 1440px) {
  .layout__content {
    max-width: var(--container-max-width-large);
    padding: var(--grid-margin-large);
    padding-top: calc(var(--desktop-header-height) + var(--grid-margin-small));
  }
}

@media (min-width: 1920px) {
  .layout__content {
    max-width: var(--container-max-width-x-large);
    padding: var(--grid-margin-x-large);
    padding-top: calc(var(--desktop-header-height) + var(--grid-margin-small));
  }
}

.layout__content--full-width {
  top: 0px;
  padding: 0px;
  max-width: 100vw;
}
